     <td><div class="list_view"><%= finish.member_id %></div></td>
      <td><div class="list_view"><%= finish.sagyosyo_id %></div></td>
      <td><div class="list_view"><%= finish.syohin_id %></div></td>
      <td><div class="list_view"><%= finish.first_day %></div></td>
      <td><div class="list_view"><%= finish.delivery_schedule %></div></td>
      <td><div class="list_view"><%= finish.delivery_string %></div></td>
      <td><div class="list_view"><%= finish.pay_string %></div></td>
      <td><div class="list_view"><%= finish.shop %>
       <% if finish.shop == "MG" %>
        <%= image_tag "mg.jpg" %>
        <% elsif finish.shop == "YM" %>
        <%= image_tag "ym.jpg" %>
        <% elsif finish.shop == "YMW" %>
        <%= image_tag "ymw.jpg" %>
        <% elsif finish.shop == "MS" %>
        <%= image_tag "ms.jpg" %>
        <% elsif finish.shop == "AY" %>
        <%= image_tag "ay.jpg" %>
        <% elsif finish.shop == "AD" %>
        <%= image_tag "ad.jpg" %>
        <% elsif finish.shop == "LJH" %>
        <%= image_tag "ljh.jpg" %>
        <% else %>
        <%= image_tag "ather.jpg" %>
      <% end %>
      </div></td>
      <td><div class="list_view"><%= finish.name %></div></td>
      <td><div class="list_view"><%= finish.name_rubi %></div></td>
      <td><div class="list_view"><%= finish.tel %></div></td>
      <td><div class="list_view"><%= finish.email %></div></td>
      <td><div class="list_view"><%= finish.post_no %></div></td>
      <td><div class="list_view"><%= finish.prefectures %></div></td>
      <td><div class="list_view"><%= finish.adress1 %></div></td>
      <td><div class="list_view"><%= finish.adress2 %></div></td>
      <td><div class="list_view"><%= finish.free_space1 %></div></td>
      <td><div class="list_view"><%= finish.sub_shop_delivery_string %></div></td>
      <td><div class="list_view"><%= finish.main_shop_delivery_string %></div></td>
      <td><div class="list_view"><%= finish.re_product_sub_shop_delivery_string %></div></td>
      <td><div class="list_view"><%= finish.re_product_main_shop_delivery_string %></div></td>
      <td><div class="list_view"><%= finish.matsuya_tsuuban %></div></td>
      <td><div class="list_view"><%= finish.special_topics %></div></td>
      <td><div class="list_view"><%= finish.product_place1 %></div></td>
      <td><div class="list_view"><%= finish.product_reason1 %></div></td>
      <td><div class="list_view"><%= finish.product_first_day1 %></div></td>
      <td><div class="list_view"><%= finish.product_delivery_schedule1 %></div></td>
      <td><div class="list_view"><%= finish.product_delivery_day1 %></div></td>
      <td><div class="list_view"><%= finish.product_place2 %></div></td>
      <td><div class="list_view"><%= finish.product_reason2 %></div></td>
      <td><div class="list_view"><%= finish.product_first_day2 %></div></td>
      <td><div class="list_view"><%= finish.product_delivery_schedule2 %></div></td>
      <td><div class="list_view"><%= finish.product_delivery_day2 %></div></td>
      <td><div class="list_view"><%= finish.product_place3 %></div></td>
      <td><div class="list_view"><%= finish.product_reason3 %></div></td>
      <td><div class="list_view"><%= finish.product_first_day3 %></div></td>
      <td><div class="list_view"><%= finish.product_delivery_schedule3 %></div></td>
      <td><div class="list_view"><%= finish.product_delivery_day3 %></div></td>
      <td><div class="list_view"><%= finish.product_place4 %></div></td>
      <td><div class="list_view"><%= finish.product_reason4 %></div></td>
      <td><div class="list_view"><%= finish.product_first_day4 %></div></td>
      <td><div class="list_view"><%= finish.product_delivery_schedule4 %></div></td>
      <td><div class="list_view"><%= finish.product_delivery_day4 %></div></td>
      <td><div class="list_view"><%= finish.luggage_goods %></div></td>
      <td><div class="list_view"><%= finish.product_name %></div></td>
      <td><div class="list_view"><%= finish.design_no %></div></td>
      <td><div class="list_view"><%= finish.product_category %></div></td>
      <td><div class="list_view"><%= finish.product_kind %></div></td>
      <td><div class="list_view"><%= finish.shitadori %></div></td>
      <td><div class="list_view"><%= finish.uchikin %></div></td>
      <td><div class="list_view"><%= finish.price %></div></td>
      <td><div class="list_view"><%= finish.free_space2 %></div></td>
      <td><div class="list_view"><%= finish.uchikin_pay_string %></div></td>
      <td><div class="list_view"><%= finish.staff_id %></div></td>
      <td><div class="list_view"><%= finish.customer_name %></div></td>
      <td><div class="list_view"><%= finish.customer_adress %></div></td>
      <td><div class="list_view"><%= finish.customer_telephone %></div></td>
      <td><div class="list_view"><%= finish.next_expected %></div></td>
      <td><div class="list_view"><%= finish.visit_reason %></div></td>
      <td><div class="list_view"><%= finish.search_keywords %></div></td>
      <td><div class="list_view"><%= finish.show_string_hp %></div></td>
      <td><div class="list_view"><%= finish.browser %></div></td>
      <td><div class="list_view"><%= finish.terminal_kind %></div></td>
      <td><div class="list_view"><%= finish.hp_impression %></div></td>
      <td><div class="list_view"><%= finish.sample_price %></div></td>
      <td><div class="list_view"><%= finish.sample_design %></div></td>
      <td><div class="list_view"><%= finish.reason_of_yumejitate %></div></td>
      <td><div class="list_view"><%= finish.bad_impression_hp %></div></td>
      <td><div class="list_view"><%= finish.want_jewelry %></div></td>
      <td><div class="list_view"><%= finish.publish_true %></div></td>
      <td><div class="list_view"><%= finish.contact_true %></div></td>
      <td><div class="list_view"><%= finish.customer_email %></div></td>
      <td><div class="list_view"><%= finish.sex %></div></td>
      <td><div class="list_view"><%= finish.age %></div></td>
      <td><div class="list_view"><%= finish.user_id %></div></td>
      <td><div class="list_view"><%= finish.edit_staff_id %></div></td>