<html>

<p><%= render partial: "title_form" %></p>
<table class="table_design">
<tr>
<%= render partial: "finish_column_title" %>
    </tr>

 <tr>
 <td><%= render partial: "finish_edit" %></td>
      <td><%= @finish.member_id %></td>
      <td><%= @finish.sagyosyo_id %></td>
      <td><%= @finish.syohin_id %></td>
      <td><%= @finish.first_day %></td>
      <td><%= @finish.delivery_schedule %></td>
      <td><%= @finish.delivery_string %></td>
      <td><%= @finish.pay_string %></td>
      <td><%= @finish.shop %></td>
      <td><%= @finish.name %></td>
      <td><%= @finish.name_rubi %></td>
      <td><%= @finish.tel %></td>
      <td><%= @finish.email %></td>
      <td><%= @finish.post_no %></td>
      <td><%= @finish.prefectures %></td>
      <td><%= @finish.adress1 %></td>
      <td><%= @finish.adress2 %></td>
      <td><%= @finish.free_space1 %></td>
      <td><%= @finish.sub_shop_delivery_string %></td>
      <td><%= @finish.main_shop_delivery_string %></td>
      <td><%= @finish.re_product_sub_shop_delivery_string %></td>
      <td><%= @finish.re_product_main_shop_delivery_string %></td>
      <td><%= @finish.matsuya_tsuuban %></td>
      <td><%= @finish.special_topics %></td>
      <td><%= @finish.product_place1 %></td>
      <td><%= @finish.product_reason1 %></td>
      <td><%= @finish.product_first_day1 %></td>
      <td><%= @finish.product_delivery_schedule1 %></td>
      <td><%= @finish.product_delivery_day1 %></td>
      <td><%= @finish.product_place2 %></td>
      <td><%= @finish.product_reason2 %></td>
      <td><%= @finish.product_first_day2 %></td>
      <td><%= @finish.product_delivery_schedule2 %></td>
      <td><%= @finish.product_delivery_day2 %></td>
      <td><%= @finish.product_place3 %></td>
      <td><%= @finish.product_reason3 %></td>
      <td><%= @finish.product_first_day3 %></td>
      <td><%= @finish.product_delivery_schedule3 %></td>
      <td><%= @finish.product_delivery_day3 %></td>
      <td><%= @finish.product_place4 %></td>
      <td><%= @finish.product_reason4 %></td>
      <td><%= @finish.product_first_day4 %></td>
      <td><%= @finish.product_delivery_schedule4 %></td>
      <td><%= @finish.product_delivery_day4 %></td>
      <td><%= @finish.luggage_goods %></td>
      <td><%= @finish.product_name %></td>
      <td><%= @finish.design_no %></td>
      <td><%= @finish.product_category %></td>
      <td><%= @finish.product_kind %></td>
      <td><%= @finish.shitadori %></td>
      <td><%= @finish.uchikin %></td>
      <td><%= @finish.price %></td>
      <td><%= @finish.free_space2 %></td>
      <td><%= @finish.uchikin_pay_string %></td>
      <td><%= @finish.staff_id %></td>
      <td><%= @finish.customer_name %></td>
      <td><%= @finish.customer_adress %></td>
      <td><%= @finish.customer_telephone %></td>
      <td><%= @finish.next_expected %></td>
      <td><%= @finish.visit_reason %></td>
      <td><%= @finish.search_keywords %></td>
      <td><%= @finish.show_string_hp %></td>
      <td><%= @finish.browser %></td>
      <td><%= @finish.terminal_kind %></td>
      <td><%= @finish.hp_impression %></td>
      <td><%= @finish.sample_price %></td>
      <td><%= @finish.sample_design %></td>
      <td><%= @finish.reason_of_yumejitate %></td>
      <td><%= @finish.bad_impression_hp %></td>
      <td><%= @finish.want_jewelry %></td>
      <td><%= @finish.publish_true %></td>
      <td><%= @finish.contact_true %></td>
      <td><%= @finish.customer_email %></td>
      <td><%= @finish.sex %></td>
      <td><%= @finish.age %></td>
      <td><%= @finish.user_id %></td>
      <td><%= @finish.edit_staff_id %></td>
      <% @pictures.each do |pic| %>
      <td><%= image_tag(pic.photo(:medium)) %></td>
      <td><%= pic.photo_file_name %></td>
      <td><%= pic.created_at %></td>
      
      <% end %>

    </tr>
     <div style="foat: left;">
                <%= render partial: "finish_find_form" %>
              </div>
              <div>
              <a href="/">一覧へもどる</a>
              </div>

</table>
  </html>