<html>

<p><%= render partial: "title_form" %></p>
<table class="table_design">
<tr>
<th>編集/削除</th>
 <th>会員番号</th>
      <th>作業書番号</th>
      <th>商品番号</th>
      <th>受注場所</th>
      <th>名前</th>
      <th>ふりがな</th>
      <th>電話</th>
      <th>メール</th>
      <th>〒</th>
      <th>都道府県</th>
      <th>住所1</th>
      <th>住所2</th>
      <th>備考欄</th>
      <th>受注日</th>
      <th>納期</th>
      <th>納品日</th>
      <th>店舗→加工仕分け所</th>
      <th>加工仕分け所→店舗</th>
      <th>店舗→加工仕分け所(再加工)</th>
      <th>加工仕分け所→店舗(再加工)</th>
      <th>松屋通番</th>
      <th>特記事項</th>
      <th>加工所1</th>
      <th>加工内容1</th>
      <th>出し日1</th>
      <th>ライム納期1</th>
      <th>ライム到着日1</th>
      <th>加工所2</th>
      <th>加工内容2</th>
      <th>出し日2</th>
      <th>ライム納期2</th>
      <th>ライム到着日2</th>
      <th>加工所3</th>
      <th>加工内容3</th>
      <th>出し日3</th>
      <th>ライム納期3</th>
      <th>ライム到着日3</th>
      <th>加工所4</th>
      <th>加工内容4</th>
      <th>出し日4</th>
      <th>ライム納期4</th>
      <th>ライム到着日4</th>
      <th>お預かり品</th>
      <th>受注商品名</th>
      <th>デザインナンバー</th>
      <th>受注分類</th>
      <th>商品の種類</th>
      <th>下取り金額</th>
      <th>内金</th>
      <th>最終金額</th>
      <th>備考欄2</th>
      <th>入金日</th>
      <th>内金入金日</th>
      <th>担当者名</th>
      <th>お客様名</th>
      <th>お客様住所</th>
      <th>お客様ご連絡先</th>
      <th>次回の期待</th>
      <th>来店の理由</th>
      <th>検索キーワード</th>
      <th>HPを見た日</th>
      <th>ブラウザ</th>
      <th>端末の種類</th>
      <th>HPの印象</th>
      <th>サンプルの価格</th>
      <th>サンプルのデザイン</th>
      <th>夢仕立を選んだ理由</th>
      <th>HPの気になった点</th>
      <th>今後欲しいジュエリー</th>
      <th>掲載可</th>
      <th>メール可</th>
      <th>お客様のメールアドレス</th>
      <th>性別</th>
      <th>年代</th>
      <th>画像_1</th>
      <th>画像1名</th>
      <th>画像1記録日時</th>
      <th>画像_2</th>
      <th>画像2名</th>
      <th>画像2記録日時</th>
      <th>画像_3</th>
      <th>画像3名</th>
      <th>画像3記録日時</th>
      <th>画像_4</th>
      <th>画像4名</th>
      <th>画像4記録日時</th>
      <th>画像_5</th>
      <th>画像5名</th>
      <th>画像5記録日時</th>
    </tr>
 <tr>
 <td><ul class="more_list">
        <li>
          <%= link_to '納品済み登録', "/finishs/#{@finish.id}/edit", method: :get %>
        </li>
        <li>
          <%= link_to '削除', "/finishs/#{@finish.id}", method: :delete %>
        </li>
      </ul></td>
      <td>
      <td><%= @finish.member_id %></td>
      <td><%= @finish.sagyosyo_id %></td>
      <td><%= @finish.syohin_id %></td>
      <td><%= @finish.shop %></td>
      <td><%= @finish.name %></td>
      <td><%= @finish.name_rubi %></td>
      <td><%= @finish.tel %></td>
      <td><%= @finish.email %></td>
      <td><%= @finish.post_no %></td>
      <td><%= @finish.prefectures %></td>
      <td><%= @finish.adress1 %></td>
      <td><%= @finish.adress2 %></td>
      <td><%= @finish.free_space1 %></td>
      <td><%= @finish.first_day %></td>
      <td><%= @finish.delivery_schedule %></td>
      <td><%= @finish.delivery_string %></td>
      <td><%= @finish.sub_shop_delivery_string %></td>
      <td><%= @finish.main_shop_delivery_string %></td>
      <td><%= @finish.re_product_sub_shop_delivery_string %></td>
      <td><%= @finish.re_product_main_shop_delivery_string %></td>
      <td><%= @finish.matsuya_tsuuban %></td>
      <td><%= @finish.special_topics %></td>
      <td><%= @finish.product_place1 %></td>
      <td><%= @finish.product_reason1 %></td>
      <td><%= @finish.product_first_day1 %></td>
      <td><%= @finish.product_delivery_schedule1 %></td>
      <td><%= @finish.product_delivery_day1 %></td>
      <td><%= @finish.product_place2 %></td>
      <td><%= @finish.product_reason2 %></td>
      <td><%= @finish.product_first_day2 %></td>
      <td><%= @finish.product_delivery_schedule2 %></td>
      <td><%= @finish.product_delivery_day2 %></td>
      <td><%= @finish.product_place3 %></td>
      <td><%= @finish.product_reason3 %></td>
      <td><%= @finish.product_first_day3 %></td>
      <td><%= @finish.product_delivery_schedule3 %></td>
      <td><%= @finish.product_delivery_day3 %></td>
      <td><%= @finish.product_place4 %></td>
      <td><%= @finish.product_reason4 %></td>
      <td><%= @finish.product_first_day4 %></td>
      <td><%= @finish.product_delivery_schedule4 %></td>
      <td><%= @finish.product_delivery_day4 %></td>
      <td><%= @finish.luggage_goods %></td>
      <td><%= @finish.product_name %></td>
      <td><%= @finish.design_no %></td>
      <td><%= @finish.product_category %></td>
      <td><%= @finish.product_kind %></td>
      <td><%= @finish.shitadori %></td>
      <td><%= @finish.uchikin %></td>
      <td><%= @finish.price %></td>
      <td><%= @finish.free_space2 %></td>
      <td><%= @finish.pay_string %></td>
      <td><%= @finish.uchikin_pay_string %></td>
      <td><%= @finish.staff_id %></td>
      <td><%= @finish.customer_name %></td>
      <td><%= @finish.customer_adress %></td>
      <td><%= @finish.customer_telephone %></td>
      <td><%= @finish.next_expected %></td>
      <td><%= @finish.visit_reason %></td>
      <td><%= @finish.search_keywords %></td>
      <td><%= @finish.show_string_hp %></td>
      <td><%= @finish.browser %></td>
      <td><%= @finish.terminal_kind %></td>
      <td><%= @finish.hp_impression %></td>
      <td><%= @finish.sample_price %></td>
      <td><%= @finish.sample_design %></td>
      <td><%= @finish.reason_of_yumejitate %></td>
      <td><%= @finish.bad_impression_hp %></td>
      <td><%= @finish.want_jewelry %></td>
      <td><%= @finish.publish_true %></td>
      <td><%= @finish.contact_true %></td>
      <td><%= @finish.customer_email %></td>
      <td><%= @finish.sex %></td>
      <td><%= @finish.age %></td>
      <% @pictures.each do |pic| %>
      <td><%= image_tag(pic.photo(:medium)) %></td>
      <td><%= pic.photo_file_name %></td>
      <td><%= pic.created_at %></td>
      
      <% end %>

    </tr>
     <div style="foat: left;">
                <%= render partial: "finish_find_form" %>
              </div>
              <div>
              <a href="/">一覧へもどる</a>
              </div>

</table>
  </html>