<div>
        <h3>
        登録する
      </h3>
      <%= form_for(@product) do |f| %>
       
      <%= f.label :会員番号 %>
<%= f.text_field :member_id %>
      <%= f.label :作業書番号 %>
<%= f.text_field :sagyosyo_id %>
      <%= f.label :商品番号 %>
<%= f.text_field :syohin_id %>
<%= f.label :受注場所 %>
<%= f.text_field :shop %>
      <%= f.label :名前 %>
<%= f.text_field :name %>
      <%= f.label :ふりがな %>
<%= f.text_field :name_rubi %>
      <%= f.label :電話 %>
<%= f.text_field :tel %>
      <%= f.label :メール %>
<%= f.text_field :email %>
      <%= f.label :〒 %>
<%= f.text_field :post_no %>
      <%= f.label :都道府県 %>
<%= f.text_field :prefectures %>
      <%= f.label :住所1 %>
<%= f.text_area :adress1, size: "30x20" %>
      <%= f.label :住所2 %>
<%= f.text_area :adress2, size: "30x20" %>
      <%= f.label :備考欄 %>
<%= f.text_area :free_space1, size: "30x20" %>
      <%= f.label :受注日 %>
<%= f.text_field :first_day %>
      <%= f.label :納期 %>
<%= f.text_field :delivery_schedule %>
      <%= f.label :納品日 %>
<%= f.text_field :delivery_string %>
      <%= f.label :店舗→加工仕分け所 %>
<%= f.text_field :sub_shop_delivery_string %>
      <%= f.label :加工仕分け所→店舗 %>
<%= f.text_field :main_shop_delivery_string %>
      <%= f.label :"店舗→加工仕分け所(再加工)" %>
<%= f.text_field :re_product_sub_shop_delivery_string %>
      <%= f.label :"加工仕分け所→店舗(再加工)" %>
<%= f.text_field :re_product_main_shop_delivery_string %>
      <%= f.label :松屋通番 %>
<%= f.text_field :matsuya_tsuuban %>
      <%= f.label :特記事項 %>
<%= f.text_field :special_topics %>
      <%= f.label :加工所1 %>
<%= f.text_field :product_place1 %>
      <%= f.label :加工内容1 %>
<%= f.text_field :product_reason1 %>
      <%= f.label :出し日1 %>
<%= f.text_field :product_first_day1 %>
      <%= f.label :ライム納期1 %>
<%= f.text_field :product_delivery_schedule1 %>
      <%= f.label :ライム到着日1 %>
<%= f.text_field :product_delivery_day1 %>
      <%= f.label :加工所2 %>
<%= f.text_field :product_place2 %>
      <%= f.label :加工内容2 %>
<%= f.text_field :product_reason2 %>
      <%= f.label :出し日2 %>
<%= f.text_field :product_first_day2 %>
      <%= f.label :ライム納期2 %>
<%= f.text_field :product_delivery_schedule2 %>
      <%= f.label :ライム到着日2 %>
<%= f.text_field :product_delivery_day2 %>
      <%= f.label :加工所3 %>
<%= f.text_field :product_place3 %>
      <%= f.label :加工内容3 %>
<%= f.text_field :product_reason3 %>
      <%= f.label :出し日3 %>
<%= f.text_field :product_first_day3 %>
      <%= f.label :ライム納期3 %>
<%= f.text_field :product_delivery_schedule3 %>
      <%= f.label :ライム到着日3 %>
<%= f.text_field :product_delivery_day3 %>
      <%= f.label :加工所4 %>
<%= f.text_field :product_place4 %>
      <%= f.label :加工内容4 %>
<%= f.text_field :product_reason4 %>
      <%= f.label :出し日4 %>
<%= f.text_field :product_first_day4 %>
      <%= f.label :ライム納期4 %>
<%= f.text_field :product_delivery_schedule4 %>
      <%= f.label :ライム到着日4 %>
<%= f.text_field :product_delivery_day4 %>
      <%= f.label :ライム到着日4 %>
<%= f.text_field :product_delivery_day4 %>
      <%= f.label :お預かり品 %>
<%= f.text_field :luggage_goods %>
      <%= f.label :受注商品名 %>
<%= f.text_field :product_name %>
      <%= f.label :デザインナンバー %>
<%= f.text_field :design_no %>
      <%= f.label :受注分類 %>
<%= f.text_field :product_category %>
      <%= f.label :商品の種類 %>
<%= f.text_field :product_kind %>
      <%= f.label :下取り金額 %>
<%= f.text_field :shitadori %>
      <%= f.label :内金 %>
<%= f.text_field :uchikin %>
      <%= f.label :最終金額 %>
<%= f.text_field :price %>
      <%=f.label :備考欄2 %>
<%= f.text_area :free_space2, size: "30x20" %>
      <%= f.label :入金日 %>
<%= f.text_field :pay_string %>
      <%= f.label :内金入金日 %>
<%= f.text_field :uchikin_pay_string %>
      <%= f.label :担当者名 %>
<%= f.text_field :staff_id %>
      <%= f.label :お客様名 %>
<%= f.text_field :customer_name %>
      <%= f.label :お客様住所 %>
<%= f.text_area :customer_adress, size: "30x20" %>
      <%= f.label :お客様ご連絡先 %>
<%= f.text_field :customer_telephone %>
<label><%= f.radio_button :next_expected, "1" %>次回の期待ができる方</label>
      <%=f.label :来店の理由 %>
<%= f.text_area :visit_reason, size: "30x20" %>
      <%= f.label :検索キーワード %>
<%= f.text_field :search_keywords %>
      <%= f.label :HPを見た日 %>
<%= f.text_field :show_string_hp %>
      <%= f.label :ブラウザ %>
<%= f.text_field :browser %>
      <%= f.label :端末の種類 %>
<%= f.text_field :terminal_kind %>
      <%= f.label :HPの印象 %>
<%= f.text_field :hp_impression %>
      <%= f.label :サンプルの価格 %>
<%= f.text_field :sample_price %>
      <%= f.label :サンプルのデザイン %>
<%= f.text_field :sample_design %>
      <%= f.label :夢仕立を選んだ理由 %>
<%= f.text_field :reason_of_yumejitate %>
      <%= f.label :HPの気になった点 %>
<%= f.text_field :bad_impression_hp %>
      <%= f.label :今後欲しいジュエリー %>
<%= f.text_field :want_jewelry %>
      <%= f.label :掲載可 %>
<%= f.text_field :publish_true %>
      <%= f.label :メール可 %>
<%= f.text_field :contact_true %>
      <%= f.label :お客様のメールアドレス %>
<%= f.text_field :customer_email %>
      <%= f.label :性別 %>
<%= f.text_field :sex %>
      <%= f.label :年代 %>
<%= f.text_field :age %>
<%= f.label :お預かり画像 %>
<%= f.file_field :photo %>


      <%= f.submit %>



     


    <% end %>
</div>