<html>

<title>夢仕立顧客管理一覧</title>
<table class="table_design">
<tr>
<th>編集/削除</th>
 <th>会員番号</th>
      <th>作業書番号</th>
      <th>商品番号</th>
      <th>受注場所</th>
      <th>名前</th>
      <th>ふりがな</th>
      <th>電話</th>
      <th>メール</th>
      <th>〒</th>
      <th>都道府県</th>
      <th>住所1</th>
      <th>住所2</th>
      <th>備考欄</th>
      <th>受注日</th>
      <th>納期</th>
      <th>納品日</th>
      <th>店舗→加工仕分け所</th>
      <th>加工仕分け所→店舗</th>
      <th>店舗→加工仕分け所(再加工)</th>
      <th>加工仕分け所→店舗(再加工)</th>
      <th>松屋通番</th>
      <th>特記事項</th>
      <th>加工所1</th>
      <th>加工内容1</th>
      <th>出し日1</th>
      <th>ライム納期1</th>
      <th>ライム到着日1</th>
      <th>加工所2</th>
      <th>加工内容2</th>
      <th>出し日2</th>
      <th>ライム納期2</th>
      <th>ライム到着日2</th>
      <th>加工所3</th>
      <th>加工内容3</th>
      <th>出し日3</th>
      <th>ライム納期3</th>
      <th>ライム到着日3</th>
      <th>加工所4</th>
      <th>加工内容4</th>
      <th>出し日4</th>
      <th>ライム納期4</th>
      <th>ライム到着日4</th>
      <th>お預かり品</th>
      <th>受注商品名</th>
      <th>デザインナンバー</th>
      <th>受注分類</th>
      <th>商品の種類</th>
      <th>下取り金額</th>
      <th>内金</th>
      <th>最終金額</th>
      <th>備考欄2</th>
      <th>入金日</th>
      <th>内金入金日</th>
      <th>担当者名</th>
      <th>お客様名</th>
      <th>お客様住所</th>
      <th>お客様ご連絡先</th>
      <th>次回の期待</th>
      <th>来店の理由</th>
      <th>検索キーワード</th>
      <th>HPを見た日</th>
      <th>ブラウザ</th>
      <th>端末の種類</th>
      <th>HPの印象</th>
      <th>サンプルの価格</th>
      <th>サンプルのデザイン</th>
      <th>夢仕立を選んだ理由</th>
      <th>HPの気になった点</th>
      <th>今後欲しいジュエリー</th>
      <th>掲載可</th>
      <th>メール可</th>
      <th>お客様のメールアドレス</th>
      <th>性別</th>
      <th>年代</th>
      <th>お預かり画像</th>
      <th>出来上がり画像</th>
    </tr>
 <tr>
 <td><ul class="more_list">
        <li>
          <%= link_to '編集', "/products/#{@product.id}/edit", method: :get %>
        </li>
        <li>
          <%= link_to '削除', "/products/#{@product.id}", method: :delete %>
        </li>
        <li>
          <%= link_to '納品後登録', "/finishs/#{@product.id}/edit", method: :get %>
        </li>

        
        
      </ul></td>
      <td><%= @product.member_id %></td>
      <td><%= @product.sagyosyo_id %></td>
      <td><%= @product.syohin_id %></td>
      <td><%= @product.shop %></td>
      <td><%= @product.name %></td>
      <td><%= @product.name_rubi %></td>
      <td><%= @product.tel %></td>
      <td><%= @product.email %></td>
      <td><%= @product.post_no %></td>
      <td><%= @product.prefectures %></td>
      <td><%= @product.adress1 %></td>
      <td><%= @product.adress2 %></td>
      <td><%= @product.free_space1 %></td>
      <td><%= @product.first_day %></td>
      <td><%= @product.delivery_schedule %></td>
      <td><%= @product.delivery_string %></td>
      <td><%= @product.sub_shop_delivery_string %></td>
      <td><%= @product.main_shop_delivery_string %></td>
      <td><%= @product.re_product_sub_shop_delivery_string %></td>
      <td><%= @product.re_product_main_shop_delivery_string %></td>
      <td><%= @product.matsuya_tsuuban %></td>
      <td><%= @product.special_topics %></td>
      <td><%= @product.product_place1 %></td>
      <td><%= @product.product_reason1 %></td>
      <td><%= @product.product_first_day1 %></td>
      <td><%= @product.product_delivery_schedule1 %></td>
      <td><%= @product.product_delivery_day1 %></td>
      <td><%= @product.product_place2 %></td>
      <td><%= @product.product_reason2 %></td>
      <td><%= @product.product_first_day2 %></td>
      <td><%= @product.product_delivery_schedule2 %></td>
      <td><%= @product.product_delivery_day2 %></td>
      <td><%= @product.product_place3 %></td>
      <td><%= @product.product_reason3 %></td>
      <td><%= @product.product_first_day3 %></td>
      <td><%= @product.product_delivery_schedule3 %></td>
      <td><%= @product.product_delivery_day3 %></td>
      <td><%= @product.product_place4 %></td>
      <td><%= @product.product_reason4 %></td>
      <td><%= @product.product_first_day4 %></td>
      <td><%= @product.product_delivery_schedule4 %></td>
      <td><%= @product.product_delivery_day4 %></td>
      <td><%= @product.luggage_goods %></td>
      <td><%= @product.product_name %></td>
      <td><%= @product.design_no %></td>
      <td><%= @product.product_category %></td>
      <td><%= @product.product_kind %></td>
      <td><%= @product.shitadori %></td>
      <td><%= @product.uchikin %></td>
      <td><%= @product.price %></td>
      <td><%= @product.free_space2 %></td>
      <td><%= @product.pay_string %></td>
      <td><%= @product.uchikin_pay_string %></td>
      <td><%= @product.staff_id %></td>
      <td><%= @product.customer_name %></td>
      <td><%= @product.customer_adress %></td>
      <td><%= @product.customer_telephone %></td>
      <td><%= @product.next_expected %></td>
      <td><%= @product.visit_reason %></td>
      <td><%= @product.search_keywords %></td>
      <td><%= @product.show_string_hp %></td>
      <td><%= @product.browser %></td>
      <td><%= @product.terminal_kind %></td>
      <td><%= @product.hp_impression %></td>
      <td><%= @product.sample_price %></td>
      <td><%= @product.sample_design %></td>
      <td><%= @product.reason_of_yumejitate %></td>
      <td><%= @product.bad_impression_hp %></td>
      <td><%= @product.want_jewelry %></td>
      <td><%= @product.publish_true %></td>
      <td><%= @product.contact_true %></td>
      <td><%= @product.customer_email %></td>
      <td><%= @product.sex %></td>
      <td><%= @product.age %></td>
      <% @pictures.each do |pic| %>
      <td>      <%= image_tag pic.photo %>
      </td>
      <% end %>

    </tr>
     <%= form_tag("/products/search", method: :get) do %>
                <input class="search__query" name="keyword" placeholder="会員番号検索" type="text" value=""><button class="btn-search" title="検索" type="submit"></button>
              <% end %>
              <div>
              <a href="/">一覧へもどる</a>
              </div>
              <div><p><%= link_to "新規登録", new_product_path %></p></div>
              <div><p><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p></div>
</table>
  </html>